<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vivek R</h2>
            <h4>vivek.r@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>My Todo APP</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>import_contacts</mat-icon>
        My Todos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>add_box</mat-icon>
        Add Todo
    </a>
    <mat-divider></mat-divider>

</mat-nav-list>



