/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-container {
  background: #f1f2f3;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  //box-sizing: border-box;
  display: block;
  width: 100%;
  //border-width: 1px;
  //border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

// .login input[type="email"],
// .login input[type="password"] {
//   background: #fff;
//   border-color: #bbb;
//   color: #555;
// }

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}